spring:
  application.name: processor-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST}

# Include traceId from MDC in log output
logging:
  config: classpath:logback-spring.xml
  pattern.level: "%5p [%X{traceId}]"

pockethive:
  worker:
    inputs:
      autowire: true
  inputs:
    rabbit:
      enabled: false
      queue: ${POCKETHIVE_INPUT_RABBIT_QUEUE}
  outputs:
    rabbit:
      exchange: ${POCKETHIVE_OUTPUT_RABBIT_EXCHANGE}
      routingKey: ${POCKETHIVE_OUTPUT_RABBIT_ROUTING_KEY}
  workers:
    processor:
      config:
        base-url: http://wiremock:8080
  control-plane:
    exchange: ${POCKETHIVE_CONTROL_PLANE_EXCHANGE}
    swarm-id: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
    instance-id: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
    control-queue-prefix: ${POCKETHIVE_CONTROL_PLANE_CONTROL_QUEUE_PREFIX}
    worker:
      role: processor
      skip-self-signals: false
    manager:
      enabled: false

management.prometheus.metrics.export.pushgateway.job: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
management.prometheus.metrics.export.pushgateway.grouping-key.instance: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
