spring:
  application.name: processor-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST}

# Include traceId from MDC in log output
logging:
  config: classpath:logback-spring.xml
  pattern.level: "%5p [%X{traceId}]"

pockethive:
  worker:
    inputs:
      autowire: true
  inputs:
    processor:
      enabled: false
  workers:
    processor:
      config:
        base-url: http://wiremock:8080
  control-plane:
    exchange: ${POCKETHIVE_CONTROL_PLANE_EXCHANGE}
    traffic-exchange: ${POCKETHIVE_CONTROL_PLANE_TRAFFIC_EXCHANGE}
    swarm-id: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
    instance-id: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
    control-queue-prefix: ${POCKETHIVE_CONTROL_PLANE_CONTROL_QUEUE_PREFIX}
    queues:
      generator: ${POCKETHIVE_CONTROL_PLANE_QUEUES_GENERATOR}
      moderator: ${POCKETHIVE_CONTROL_PLANE_QUEUES_MODERATOR}
      final: ${POCKETHIVE_CONTROL_PLANE_QUEUES_FINAL}
    worker:
      role: processor
      skip-self-signals: false
    manager:
      enabled: false

management.prometheus.metrics.export.pushgateway.job: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
management.prometheus.metrics.export.pushgateway.grouping-key.instance: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
