:root {
  --ifm-color-primary: #0ea5e9;
  --ifm-color-primary-dark: #0284c7;
  --ifm-color-primary-darker: #0369a1;
  --ifm-color-primary-darkest: #075985;
  --ifm-color-primary-light: #38bdf8;
  --ifm-color-primary-lighter: #7dd3fc;
  --ifm-color-primary-lightest: #bae6fd;
}

