spring:
  application.name: generator-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST}

# Include traceId from MDC in log output
logging:
  config: classpath:logback-spring.xml
  pattern.level: "%5p [%X{traceId}]"

pockethive:
  outputs:
    rabbit:
      exchange: ${POCKETHIVE_OUTPUT_RABBIT_EXCHANGE}
      routingKey: ${POCKETHIVE_OUTPUT_RABBIT_ROUTING_KEY}
  worker:
    config:
      ratePerSec: 0.0
      singleRequest: false
      message:
        path: /api/test
        method: POST
        body: hello-world
        headers: {}
  control-plane:
    exchange: ${POCKETHIVE_CONTROL_PLANE_EXCHANGE}
    swarm-id: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
    instance-id: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
    control-queue-prefix: ${POCKETHIVE_CONTROL_PLANE_CONTROL_QUEUE_PREFIX}
    worker:
      role: ${POCKETHIVE_CONTROL_PLANE_WORKER_ROLE}
      skip-self-signals: false
    manager:
      enabled: false

management.prometheus.metrics.export.pushgateway.job: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
management.prometheus.metrics.export.pushgateway.grouping-key.instance: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
