spring:
  application:
    name: postprocessor-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST}

# Include traceId from MDC in log output
logging:
  config: classpath:logback-spring.xml
  pattern:
    level: "%5p [%X{traceId}]"

pockethive:
  inputs:
    type: RABBITMQ
    rabbit:
      queue: ${POCKETHIVE_INPUT_RABBIT_QUEUE}
  outputs:
    type: NONE
    rabbit:
      exchange: ${POCKETHIVE_OUTPUT_RABBIT_EXCHANGE}
  worker:
    config:
      forwardToOutput: false
      writeTxOutcomeToClickHouse: false
      dropTxOutcomeWithoutCallId: true
  sink:
    clickhouse:
      endpoint: ${POCKETHIVE_SINK_CLICKHOUSE_ENDPOINT:}
      table: ${POCKETHIVE_SINK_CLICKHOUSE_TABLE:}
      username: ${POCKETHIVE_SINK_CLICKHOUSE_USERNAME:}
      password: ${POCKETHIVE_SINK_CLICKHOUSE_PASSWORD:}
      connect-timeout-ms: ${POCKETHIVE_SINK_CLICKHOUSE_CONNECT_TIMEOUT_MS:3000}
      read-timeout-ms: ${POCKETHIVE_SINK_CLICKHOUSE_READ_TIMEOUT_MS:5000}
      batch-size: ${POCKETHIVE_SINK_CLICKHOUSE_BATCH_SIZE:200}
      flush-interval-ms: ${POCKETHIVE_SINK_CLICKHOUSE_FLUSH_INTERVAL_MS:200}
      max-buffered-events: ${POCKETHIVE_SINK_CLICKHOUSE_MAX_BUFFERED_EVENTS:50000}
  control-plane:
    exchange: ${POCKETHIVE_CONTROL_PLANE_EXCHANGE}
    swarm-id: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
    instance-id: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
    control-queue-prefix: ${POCKETHIVE_CONTROL_PLANE_CONTROL_QUEUE_PREFIX}
    worker:
      role: ${POCKETHIVE_CONTROL_PLANE_WORKER_ROLE}
      skip-self-signals: false

management:
  prometheus:
    metrics:
      export:
        pushgateway:
          job: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
          grouping-key:
            instance: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
