<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <if condition='!"false".equalsIgnoreCase(property("RABBITMQ_LOGGING_ENABLED"))'>
    <then>
      <appender name="RABBIT" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <host>${RABBITMQ_HOST:-localhost}</host>
        <port>${RABBITMQ_PORT:-5672}</port>
        <username>${RABBITMQ_DEFAULT_USER:-guest}</username>
        <password>${RABBITMQ_DEFAULT_PASS:-guest}</password>
        <virtualHost>${RABBITMQ_VHOST:-/}</virtualHost>
        <exchangeName>${LOGS_EXCHANGE:-logs.exchange}</exchangeName>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
      </appender>

      <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="RABBIT"/>
      </root>
    </then>
    <else>
      <root level="INFO">
        <appender-ref ref="CONSOLE"/>
      </root>
    </else>
  </if>
</configuration>

