spring:
  application.name: trigger-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST}

logging:
  config: classpath:logback-spring.xml
  pattern.level: "%5p [%X{traceId}]"

pockethive:
  worker:
    inputs:
      autowire: true
  workers:
    trigger:
      enabled: false
      config:
        interval-ms: 1000
        single-request: false
        action-type: none
        command: ""
        url: ""
        method: GET
        body: ""
        headers: {}
  control-plane:
    exchange: ${POCKETHIVE_CONTROL_PLANE_EXCHANGE}
    traffic-exchange: ${POCKETHIVE_CONTROL_PLANE_TRAFFIC_EXCHANGE}
    swarm-id: ${POCKETHIVE_CONTROL_PLANE_SWARM_ID}
    instance-id: ${POCKETHIVE_CONTROL_PLANE_INSTANCE_ID}
    control-queue-prefix: ${POCKETHIVE_CONTROL_PLANE_CONTROL_QUEUE_PREFIX}
    queues:
      generator: ${POCKETHIVE_CONTROL_PLANE_QUEUES_GENERATOR}
      moderator: ${POCKETHIVE_CONTROL_PLANE_QUEUES_MODERATOR}
      final: ${POCKETHIVE_CONTROL_PLANE_QUEUES_FINAL}
    worker:
      role: trigger
      skip-self-signals: false
    manager:
      enabled: false
