@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0f172a;
  --color-card: #1e293b;
  --color-accent: #fbbf24;
  --color-text: #f1f5f9;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
